h1 {
    color: crimson;
}

body {
    margin: 10%; text-align: center;
}
img {
    border: indigo solid 10px;
}
.red {
    color:red
}
.striped {
    text-decoration-line: line-through;
}
.blue {
    color:blue;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.Green {
    color:green;
}
.Yellow {
    color: greenyellow;
}