.red {
    color:red;
}
h1 {
    color:blue;
}
body {
    background-color:burlywood
}
.green {
    color:green;
}
.brown {
    color:brown;
}
.orange {
    color:orange;
}
.purple {
    color:purple;
}
.violet {
    color:violet;
}
.yellow {
    color:yellow;
}
.blue {
    color:blue;
}
.gray {
    color:gray;
}