body{
    background-color: purple;text-align: center;border:solid royalblue 10px;
}
h1{
    color: red;text-align: center;font-family: sans-serif;
}
p{
    font-family: fantasy;
}
img{
    border:black solid 10px;
}
ul{
    font-family: cursive;
}
